[project]
	description = Hyperledger Fabric SDK for REST
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-sdk-rest-committers
	read = group GitHub Replication
	pushMerge = group ldap/hyperledger-gerrit-fabric-sdk-rest-committers
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-sdk-rest-committers
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-sdk-rest-committers
	createTag = group ldap/hyperledger-gerrit-fabric-sdk-rest-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-sdk-rest-committers
